<nav class="bg-gray-800">
    <!-- <div class="mx-auto max-w-7x1 px-2 sm:px-6 lg:px-8"> -->
    <div class="mx-auto  px-8 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-around">

            <div class="flex flex-shrink-0 items-center text-2xl">
                <h1 class="text-white font-semibold">VTV Argentina</h1>
            </div>
            <div class="flex  items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex space-x-4">
                    <a [routerLink]="['/inspections']"
                    class="rounded-md px-3 py-2 text-xl font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Inspecciones</a>
                    <a [routerLink]="['/vehicles']"
                    class="rounded-md px-3 py-2 text-xl font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Vehiculos</a>
                    <a [routerLink]="['/owners']"
                    class="rounded-md px-3 py-2 text-xl font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Propietarios</a>
                    <a [routerLink]="['/inspectors']"
                    class="rounded-md px-3 py-2 text-xl font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Inspectores</a>
            </div>
            </div>
        </div>

    </div>
</nav>


<!--  -->